:root{
    --rouge:#a51616;
    --grey: #e2e0e0;
    --bluePastel: #28354e;
     background-color: rgb(196, 193, 193);
     background: url(images/groupomania-background.jpg);
     background-repeat: no-repeat;
     background-size: cover;
}

html,
body{

    width:100%; 
    max-width: 100%;;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 1.2rem;
    font-family: 'Merriweather', serif;
} 

a{
    color: inherit;
    text-decoration: none;
}

a:hover {  
    color: inherit;
}

.logo {
    display: flex;
    background-color: var(--bluePastel);
    max-width:100%;
    margin-bottom:2rem;
    border-bottom: 4px solid var(--rouge);

}

h1{
    display: flex;
    color: #fff;
}

.container{
    display: flex;
    flex-direction: row;
    column-gap: 6rem;
    justify-content: center;
}

.containerModif{
    display: flex;
    justify-content: center;
    row-gap: 2rem;
    align-items: center;
    column-gap: 8%;
}

.profil{
    color:var(--rouge);
    font-size: 1rem; 
    text-align: center;
}

h2{
    color:var(--rouge);
    font-size: 1rem; 
}

.input_formulaire {
    width: 100%;
    height: 2rem;
    border: 1px solid var(--bluePastel);
    border-radius:5px; 
    text-align: center;
    font-size: 15px;   
}

label{
    font-size: 0;
}

.label{
    font-size:0.8rem;
    margin-left:16%;
}

.signup,
.login{
    width:100%;
    border: 1px var(--rouge) solid;
    padding:1.5rem;
    background-color: var(--grey);
    border-radius: 5px;
}

.changeData,
.changePassword {
    border: 1px var(--rouge) solid;
    padding:2rem;
    background-color: var(--grey);
    border-radius: 5px;
    height:15rem;
    width: 10rem;
}

.changePassword{
    width: 10rem;
    margin:auto;
}

.btnAvatar input[type=file] {
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
    font-size: 90px;
}

.btnUpload{
    background-color: #fff;
    border: 1px solid var(--bluePastel);
    color: #000;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.usernameConnect {
    font-weight: bold;
    font-size: 18px;
    color: var(--rouge);
    margin : 5px;
    padding-left:10px;
}

.btn_enter{
    background-color: var(--rouge);
    font-weight: 700;
    height: 2rem;
    opacity: 0.8;
    color: #fff;
    transition: all 300ms;
    border-radius: 5px;
}

.btn_enter:hover{
    transform:scale(1.15);
    font-weight: bold;
}

.question{
    text-align: center;
    align-items: center;
    font-weight: bold;
    padding-top: 1rem;
    font-size:1.2rem;
    color: var(--bluePastel)
}

.question img{
    color: var(--rouge);
    width: 1.5rem;
    margin-right: 0.5rem;
}

.linkConnect{
    color: #fff;
    font-weight: 700;
    font-size:1.2rem;
    text-decoration:underline;
}

.linkConnect:hover{
    color: var(--rouge);
}

.footer{
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    font-size: 15px;
    margin-top: 5rem;
    color:#fff;
}

.copyright{
    display: flex;
    align-items: center;
}

footer a:hover{
    color: var(--rouge);
    font-weight: 700;
}

/*------------page Tchats.html-----------------*/
.containerTchatsAndUsers{
    display: flex;
    justify-content: left;
    width: 100%;
    
}

.disconnect{    
    text-align: center;
    margin-bottom:1rem;
}

.disconnect:hover {
    transform:scale(1.15);
    font-weight: bold;
}

.inputDisconnect{
    border: 3px solid var(--rouge);
    font-weight: bold;  
}

.tchatUserConnect,
.tchatsMembersAndComments{
    display: flex;
    column-gap: 2%;
    margin-bottom: 2rem;
}

.tchatsMembersAndComments{
    width:100%;
}

.tchatMember{
    display: flex;
    margin-top:1rem;
}

.inputTchatUserConnect{
    font-size: 1rem;
    width:98%;
    border: none;
    padding-top: 1rem;
    padding-left: 10px;
}

input[type="text" i]:focus {
    border: var(--rouge);
    background-color: var(--grey);
}

.tchatUserConnect{
    border: 1px solid var(--bluePastel);
    text-align: left;
    font-size: 15px;   
    border-radius:5px; 
    background-color: white;
    width: 80%;
}

.usernameMember{
    margin-bottom: 0.5rem;
    color: var(--bluePastel);
    font-size: 1rem;
} 

.post{
    width: 100%;
}

.linkSend{
    position: relative;
    width: 50px;
    height: 50px;
    background-image: url("images/send.png");
    background-repeat: no-repeat;
    background-position: center;
    font-size:0;
    border: none;
    background-color: #fff;

}

.linkSend:hover{
    border: 2px var(--bluePastel) solid;
    border-radius: 8px;
    transform:scale(1.15);
    font-weight: bold;
    cursor: pointer;
}

.selectImg{
    position: relative;
    width: 50px;
    height: 50px;
    background-image: url("images/trombone_50.png");
    background-position: center;
    font-size:0;
    border: none;
}

.btnImgAndSend{
    display: flex;
    margin: auto;
    column-gap: 0.6rem;
    margin-right: 1rem;
}

.inputImgAndText{
    margin-left: 1rem;
    width: 85%;
}

.linkImg{
    margin-left: 0.5rem;
    color: var(--rouge);
    font-weight: 700;
}

.deleteImg{
   width:0.7rem;
   margin-left:0.5rem;
}

.avatarConnect,
.avatarMember{
    border-radius: 50% ;
    width: 63px;
    height: 60px;  
}

#connected{
 display:none;
}
    
.usernameConnect{
    margin-left: 30%;
}

.avatarConnect img{
    padding-left: 1rem;
}

.avatarSize {
    max-width: 60px;
    margin-right: 1rem;
}

.helloAvatar p{
    text-align: center;
}

.avatarProfil{
    max-width: 90px;
    margin-left: 20%;
}

.helloAvatar p{
    margin:auto;
}

.updateProfil,
.deleteAccount {
    font-size: 0.8rem;
}

.label:hover,
.updateProfil:hover,
.deleteAccount:hover{
    color: var(--rouge);
    font-weight: bold;
}

.avatarMember{
    margin-top:-8px;
    margin-right: 1rem;
}

.avatarComment{
    margin-bottom: 0;
    margin-top: 0;
}

.yourProfil{
    background-color: var(--grey);
    border: 1px var(--rouge) solid;
    border-radius: 5px;
}

.oneTchat{
    display: flex;
    flex-direction: column;
    border: 1px  var(--rouge) solid;
    width: 80%;
    padding: 1rem 1rem 0 1rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
    background-color: var(--grey);
    border-radius: 5px;
}

.inputTchatMember{
    background-color: #fff;
    border-radius: 8px;
    width: 95%;
    padding-left: 10px;
    border: none;
    cursor: not-allowed;
    padding:0.5rem;
    margin-top:0;
    font-size:0.8rem;
    font-weight: 500;
}

.commentUserConnect{
    height: 1.7rem;
    width: 85%;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    font-size:0.8rem;
}

.comment{
    width:95%;
    background-color: #fff;
    border-radius: 5px;
    padding-left: 10px;
    cursor: not-allowed;
    padding:0.5rem;
    font-size: 0.8rem;
}

.pseudo{
    color:var(--rouge);
    font-size: 0.8rem;
    margin-bottom: 3px;
    margin-top: 0;
}

.pseudoAndText{
    width: 100%;
}

.commentUser {
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: 10%;
    margin-top: 0rem;
    margin-bottom:1rem;
}

.unique {
    float:left;
    color: var(--rouge);
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom:0.5rem;
    margin-top:0;
}

.commentUserMade{
    margin: 0;
}

.commentSend{
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    right:2rem;
    border: none;
    cursor: pointer;
}

.allTchatsMembers{
    width: 88%;
}

.trash{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    background-position: center;
    font-size:0;
    object-fit: cover;
    border: none;
    border-radius: 5px;  
}

.trashComment {
    position: relative;
    width: 1.2rem;
    height: 1.2rem;
    right:2.5rem;
    top:0.55rem;
    border: none;
    cursor: pointer;
}

.pageUp{
    position: fixed;
    bottom : 10px;
    right: 20px;
}

.btnUp{
    width: 1.7rem;
    height: 1.7rem;
}

.trashComment[data-enable= "false"],
.trash[data-enable="false"],
.trashUser[data-enable="false"]{
    display:none;
}

.trashComment[data-enable= "true"],
.trash[data-enable="true"],
.trashUser[data-enable="true"]{
    display:block;
}

.trashUser{
    width:2rem;
    padding-left:0.5rem;
    padding-right:1rem;
}
.inputWithImg{
    width:85%;
    margin-left:1.5rem;
}

.imgUser{
    max-width:100%;
    max-height:10rem;
}

.select{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member{
    border:1px solid var(--rouge);
    background-color: var(--grey);
    width: 60%;
    border: 1px var(--rouge) solid;
    border-radius: 5px;
    height: 20%;
    min-width: 11rem;
    padding-top:1rem;
    padding-left: 1rem; 
}

.memberUsersConnected{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-top:1rem;
    margin-bottom: 1rem;    
}

.memberUsersConnected.active{
    border: 2px solid var(--rouge);
    border-radius: 15px;
    background-color: #fff;
}

@media all and (min-width: 1580px) {
    .inputTchatUserConnect{
        padding: 1rem;
        
    }
}

@media all and (min-width: 901px) {
/* index.html and connect.html */
    .linkFooter{
        display: flex;
        column-gap: 1rem;
    }
    .containerTchatsAndUsers{
        column-gap: 2rem;
    }
    .member{
        min-width:11rem;     
    }
    .memberUsersConnected{
        margin-left:0.3rem;
    }
    
    .inputTchatUserConnect{
        margin-top: 0rem;
    }  
    .containerModif{
        flex-direction: row;
    }
}

@media all  and (max-width: 900px) {
/* index.html and connect.html */
    .footer{
        display:block;
    }

    .copyright{
        margin-left: 15%;
    }

    .linkFooter{
        display: flex;
        justify-content: space-around;
    }

    /* page de discussion (between 699px and 900)*/
    .containerTchatsAndUsers{
        column-gap: 1rem;
    }

    .tchatUserConnect{
        width:80%;
        margin: auto;
        margin-bottom: 1rem;;
    }

    .allTchatsMembers{
        width: 90%;
    }

    .oneTchat{
        margin-right:0;
    }

    .updateProfil,
    .deleteAccount{
        font-size: 0.7rem;
    }

    .infoMember{
    display: flex;
    align-items: top;
    max-width: 45px;
    }

    .tchatMember{
        display: block;
        width: 100%;
        font-size: 0.8rem;
        margin-top:0;
        margin-bottom: 0;
    }

    .inputWithImg{
        width:100%;
        margin-left: 0;
    }

    .inputTchatMember{
        width: 98%;
    }
    
    .trash{
        height: auto;
    }

    .unique{
        margin-top:0;
        font-size: 0.8rem;
    }

    .commentUser,
    .commentUserConnect,
    .commentUserMade{
        margin-left: 0;
        width:100%;
    }

    .commentSend,
    .trashComment{
        right: -0.5rem;
    }

    .member{
        margin-top:2rem;
        padding-left:0.5rem;
        min-width:95%;
    }

    .memberUsersConnected{
        margin-left:0;
        width:auto;
    }
    .users .pseudo{
       font-size:0.7rem;
    } 
     .users .avatarSize{
         max-width:50px;
     }
}

@media all and (max-width: 699px) {
    /* index.html and connect.html */
    .container{
        flex-direction: column-reverse;
    }
    
    .question{
        margin-left: 1rem;
        margin-top:5rem;
        margin-bottom: 8rem;
    }
    
    .login,
    .signup{
       max-width:70%; 
       margin:auto;
    }
    
    .footer{
        display: block;
        margin-left: 0.8rem;
    }  
    /* page de discussion (max-width: 699px)*/
    .logo{
        margin-bottom: 1rem;
    }
    
    .containerTchatsAndUsers{
        display:block;
    }


    .yourProfil{
        margin:auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        width:50%;
    }

    .member{
        display: none;
    }

    .users{
        width: 100%
    }
    .updateProfil,
    .deleteAccount{
        font-size: 0.8rem;
    }
    .helloAvatar{
        align-self: flex-end;
    }
    
    .profil{
        margin:auto;
    
    }
    .select{
        flex: 1 1 160px;
        margin-top:0;
    }
    
    .inputDisconnect{
        width:3.3rem;
        height: 2rem;
        border-radius: 50%;
        margin-right: 0.5rem;
        font-size: 0.4rem;
        text-align:left;
        border: none;
    }
    .inputDisconnect:hover{
        font-size: 0.5rem;
    }
    .deleteAccount{
        margin-left:10px;
    }  
}  

@media all and (min-width: 699px) and (max-width:800px) {
    .signup, .login{
        width: auto;
    }
    .yourProfil{
        width:9rem;
    }
}

@media all and (min-width: 699px) {
    footer{
        padding-top:7rem;
    }
    .yourProfil{
        min-width:9rem;
    }

}

@media all and (max-width: 550px) {
    .yourProfil{
        width:60%;
    }
    .btnImgAndSend{
        margin-right: 0;
        column-gap: 0.2rem;
    }
    .linkSend{
        width: 40px;
        margin-right: 5px;
        border-radius: 8px;
    }
}

@media all and (max-width:600px) {
    .containerModif{
        flex-direction: column;
    }
}
