:root{
    --rouge:#e42525;
    --gris-maquette: #ccc6c6;
    --bleu-turquoise: #15a3a8;
    background-image: url("images/fond_turquoise.jpg");
}

html{
    font-size: 1.5rem;;
} 

a{
    color: inherit;
    text-decoration: none;
}

a:hover {
  
    color: inherit;
}

.logo {
    display: flex;
    align-items: center;
}

h1{
    font-size:150%;
    color: var(--rouge);
}

.container{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

h2{
    color:var(--rouge);
    font-size: 1.3rem;
}

.input_formulaire {
    width: 100%;
    height: 2rem;
    border: 1px solid var(--bleu-turquoise);
    border-radius:5px; 
    text-align: center;
    font-size: 15px;   
}

.signup,
.login{
    width:75%;
    border: 1px var(--rouge) solid;
    padding:2rem;
    background-color: var(--gris-maquette);
    border-radius: 5px;
}

.title_login{
    margin-top: -.5rem;
}

.signup{
    order:2;
}

.avatar{
    width: 4rem;
    height: 4rem;
    border-radius:15px;
    box-shadow: 2px 2px var(--bleu-turquoise);
}

.title_signup{
    display: flex;
    justify-content: space-between;
}

.btn_enter {
    background-color: var(--bleu-turquoise);
    height: 2rem;
    width: 3rem;
    opacity: 0.8;
    transition: all 300ms;
    box-shadow: 1px 1px var(--rouge);
}

.btn_enter:hover{
    transform:scale(1.15);
}

.footer{
    display: flex;
    align-items:center;
    justify-content: space-between;
    font-size: 13px;
    transition: all 300ms;
}
.copyright{
    display: flex;
    align-items: center;
}
footer a:hover{
    font-size:15px;
    color: var(--rouge);
    font-weight: 700;
}

.mainPost,
.tchatUser{
    display: flex;
    justify-content: center;
    column-gap: 2%;
    margin-bottom: 2rem;
}

.input_formulaire_post {
    width: 70%;
    height: 2rem;
    border: 1px solid var(--bleu-turquoise);
    border-radius:5px; 
    text-align: left;
    padding-left:1rem;
    font-size: 15px;   
    background-color: white;
}
.avatar_post{
    border-radius: 50% ;
}
